astropy
codecov
confluent-kafka==2.0.2
coverage>=4.2
coveralls
fastavro==1.6.0
fink-client
optuna
matplotlib
numpy
pandas
polars>=0.16.7
pyarrow>=10.0.1
pyyaml
tabulate
imageio
tensorflow-model-optimization
